.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    color: white;
    background-color: #bf4342;
    border-width: 0px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: #8c1c13;
}

button:disabled {
    background-color: #916e6e;
}

.edition-bar-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: left;
    margin: 1rem;
}

.expression-table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0rem 1rem 3rem -1rem #735751;
}

.expression-table-header {
    background-image: linear-gradient(to bottom, #bf4342, #8c1c13);
    flex-direction: row;
    display: flex;
    color: white;
}

.expression-table-row {
    flex-direction: row;
    display: flex;
}

.expression-table-row:nth-child(odd) {
    background-color: #cabca8;
}

.expression-table-row-selected {
    flex-direction: row;
    display: flex;
    background-color: #8c1c13;
    color:  white;
}

.expression-table-row:hover {
    background-color: #bf4342;
    color:  white;
}

.expression-table-cell {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.expression-table-cell-tool {
    flex: initial;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.expression-table-arabic-word {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    background-color: #735751;
    border-radius: 0.5rem;
    color: white;
}

