.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    color: white;
    background-color: #bf4342;
    border-width: 0px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: #8c1c13;
}

button:disabled {
    background-color: #916e6e;
}

.edition-bar-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: left;
    padding: 0.5rem;
}

.expression-table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0rem 1rem 3rem -1rem #735751;
}

.expression-table-header {
    background-image: linear-gradient(to bottom, #bf4342, #8c1c13);
    flex-direction: row;
    display: flex;
    color: white;
}

.expression-table-row {
    flex-direction: row;
    display: flex;
}

.expression-table-row:nth-child(odd) {
    background-color: #cabca8;
}

.expression-table-row-selected {
    flex-direction: row;
    display: flex;
    background-color: #8c1c13;
    color:  white;
}

.expression-table-row:hover {
    background-color: #bf4342;
    color:  white;
}

.expression-table-cell {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.expression-table-cell-tool {
    display: flex;
    align-items: center;
}

.expression-table-arabic-word {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    background-color: #735751;
    border-radius: 0.5rem;
    color: white;
}

input[type='text'] {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0.1rem solid #735751;
    background: linear-gradient(0deg, #3b352c31 0%, #e7d7c100 100%);
    box-shadow: 0 0.5vw 1vw rgba(0,0,0,.2);
    text-align: center;
    font-size: xx-large;
    color: #493733;
}

.creation-form-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem 1rem;
    padding: 2rem;
}

.creation-form-container label {
    text-align: right;
    align-self: center;
    font-size: x-large;
}

.creation-form-container input {
    text-align: left;
    max-width: 500px;
}

@media (max-width: 1000px) {
    .main-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}