.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #e7d7c1;
    padding: 2rem;
    border-radius: 8px;
}

.search-modal-content {
    width: 60%;
}